@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('./fonts/WOFF2/Iosevka-Light.woff2') format('woff2'), url('TTF/Iosevka-Thin.ttf') format('truetype');
}

*{
    padding: 0px;
    margin: 0px;
}

.whole-body {
    padding: 45px;
    background-color: #E3DBBD;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:94vh;
    width: auto;
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #8170A3;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px  black;
    margin: 15px;
    padding: 20px;
    font-size: 25px;
    margin-bottom: 10vw;
}

.left {
    display: flex;
    flex-direction: row;
  
}

ul {
    display: flex;
    gap: 25px;
    
}

li {
    display: flex;
    list-style: none;  
}

.body {
    display: flex;
    flex-direction: column;
    background-image: url(./images/paper.png);
    background-size: contain;
    border: 8px solid rgb(4, 2, 15);
    box-shadow: 10px 5px  black;
    height: 95vh;
    overflow: hidden;
}

.contact,
.me,
.projects,
.education {
    cursor: pointer;
    font-family: 'Iosevka Web';
  
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.welcome {
    font-family: 'Iosevka Web';
    font-size: 65px;
}
.login-1{
    border: 4px solid rgb(4, 2, 15);
    box-shadow: 10px 5px  black;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px 150px;
    background-color: #EC785E;
}

.login-2{
    border: 4px solid rgb(4, 2, 15);
    box-shadow: 10px 5px  black;
    padding: 15px 15px;
    background-color: #6CA623;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.login-2:hover {
    transform: scale(1.05);
    background-color: #EC785E;
}

a{
    text-decoration: none;
    color: black;
}

.logging-in{
    font-family: 'Iosevka Web';
    list-style: none;
    color: black;
    font-size: 20px;
}

/* end of body-one 
   start of about me */

/* About Me Page */

.me a {
    text-decoration: none;
    color: black;
}


.navbar-me {
    display: flex;
    justify-content: center; 
    position: relative; 
    background-color: #D2513F;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    margin: 15px;
    padding: 20px;
    font-size: 25px;
}

.navbar-icons {
    display: flex;
    justify-content: center; 
    position: relative; 
    background-color: #E3DBBD;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    margin: 15px;
    padding: 20px;
    font-size: 40px;
    gap: 30px;

}

.fa-brands,
.fa-solid {
    transition: transform 0.2s ease;
}

.fa-brands:hover,
.fa-solid:hover {
    transform: scale(1.15);
}

.navbar-skills {
    display: flex;
    justify-content: center; 
    position: relative; 
    background-color: #E3DBBD;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    margin: 15px;
    padding: 20px;
    font-size: 40px;
    gap: 25px;
    transition: transform 0.3s ease;
}



.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 800px 0px 415px;
}

.cross {
    position: absolute;
    left: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
    border: 2px solid rgb(4, 2, 15);
    box-shadow: 2px 2px black;
    background-color:#DB6858 ;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Iosevka Web';

}

.cross:hover {
    background-color: #D2513F;
}

.cross a {
    text-decoration: none;
    color: black;
}

.introduction-text,
.about-me-text {
    /* font-weight: bold; */
    font-family: 'Iosevka Web';
    text-align: center; 
}


.container-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-top: 150px;
}

.selfie {
    position: relative; 
    display: flex;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    height: 500px;
    width: auto;
    background-size: cover;
}

.filler {
    position: absolute; 
    top: 0; 
    left: 0;
    background-color: #E3DBBD;
    border-bottom: 5px solid rgb(4, 2, 15);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    padding-top: 10px; 
    font-weight: bold;
    font-family: 'Iosevka Web';
}

.selfie img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.introduction-text{
    display: flex;
    flex-direction: column;
    font-family: 'Iosevka Web';
    height: 30vh;
    width: 50vw;
    background-color: #E3DBBD;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px  black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    overflow: hidden;
    padding: 35px;
    
}


/* Projects Page */
.projects a {
    text-decoration: none;
    color: black;
}

.navbar-two {
    display: flex;
    justify-content: center; 
    position: relative; 
    background-color: #5A6DAF;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    margin: 15px;
    padding: 20px;
    font-size: 25px;
}

.cross {
    position: absolute;
    left: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
    border: 2px solid rgb(4, 2, 15);
    box-shadow: 2px 2px black;
    background-color:#DB6858 ;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Iosevka Web';
}

.cross a {
    text-decoration: none;
    color: black;
}

.project-text {
    font-weight: bold;
    font-family: 'Iosevka Web';
    text-align: center; 
}

.le-contain {
    display: flex;
    /* border: 2px solid black; */
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 175px;
    
}

.card-one {
    border: 2px solid black;
}

.image-cont {
    width: 300px;
    height: auto;
    object-fit: contain;
}

#soon {
    font-family:'Iosevka Web';
    font-size:20px;
}

.card-one {
    position: relative; 
    display: flex;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    height: 500px;
    width: 350px;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D8D2BC;
}

.filler-two{
    position: absolute; 
    top: 0; 
    left: 0;
    background-color: #E3DBBD;
    border-bottom: 5px solid rgb(4, 2, 15);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    padding-top: 10px; 
    font-weight: bold;
    font-family: 'Iosevka Web';
    background-color: #5A6DAF;
}

#p{
    margin-top: 20px;
}

.card-text {
    font-family:'Iosevka Web';
    font-size:20px;
    margin-top:50px ;
    /* border: 1px solid black; */
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.redirect {
    display: flex;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    padding:10px 5px;
    justify-content: center;
    margin:20px 0px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #47A4B9;
}

.redirect:hover {
    transform: scale(1.05); 
    background-color: #DB6858;
}

.change-dir-two {
    font-family:'Iosevka Web';
    font-size:22px;
    text-align: center;
    
}

.dos-container {
    display: flex;
    justify-content:space-between;
    font-family:'Iosevka Web';
    font-size:22px;
    font-weight: bold;
    margin:225px 20px 20px 20px;
    align-items: center;
}
.btn {
    display: flex;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    padding: 10px 15px;
    background-color: #E5615A;
    transition: transform 0.3s ease;
}

.btn:hover {
    background-color: #8170A3;
    transform: scale(1.05);
}


/* start of contact me page */

.navbar-three {
    display: flex;
    justify-content: center; 
    position: relative; 
    background-color: #5A6DAF;
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    margin: 15px;
    padding: 20px;
    font-size: 25px;
}

.cont-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.form-container {
    border: 5px solid rgb(4, 2, 15);
    box-shadow: 10px 5px black;
    background-color: #E3DBBD;
    display: flex;
    font-weight: bold;
    font-family: 'Iosevka Web';
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 200px 40px;
    width: 35%;
    font-size: 25px;
    text-align: center;
}

.contact-text {
    font-weight: bold;
    font-family: 'Iosevka Web';
    text-align: center; 
}

#name, 
#email,
#subject{
    height: 30px;
    width: 250px;
    border: 2px solid rgb(4, 2, 15);
    box-shadow: 2.5px 1.25px black;
    background-color: #e0ded7;
}


textarea {
    width: 100%;         
    width: 500px;     
    max-width: 500px; 
    height: 150px;
    padding: 10px;        
    font-size: 16px;      
    box-sizing: border-box; 
    margin-bottom: 15px;  
    border: 2px solid rgb(4, 2, 15);
    box-shadow: 2.5px 1.25px black;
    background-color: #e0ded7;
}

#submit-btn {
    border: 2px solid rgb(4, 2, 15);
    box-shadow: 2.5px 1.25px black;
    font-weight: bold;
    font-family: 'Iosevka Web';
    padding: 5px 20px ;
    font-size: 20px;
    transition: transform 0.3s ease;
}

#submit-btn:hover {
    transform: scale(1.05); 
    background-color: #6CA623;
}

#coming-soon {
    background-color: #D8D2BC;
}